
.image-show {
  display: flex;
  margin-bottom: 50px;
  top: 60px;
  margin-left: 50px;
  display: flex;
  size: 200px;
  align-content: center;


}


.boxshow {
  position: absolute;
  color: white;
  padding: 50px;
  z-index: 10;
  float: left;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Figtree', sans-serif;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.363);

}
