video {
  position: relative;
  z-index: inherit;
  
}

.video-container-text div {
  position: absolute;
  color: white;
  z-index: 10;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Figtree', sans-serif;
  font-size: 50px;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

