video {
  position: relative;
  z-index: inherit;
  
}


.video-container-text-user div {
  position: absolute;
  color: white;
  z-index: 10;
  float: left;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Figtree', sans-serif;
  font-size: 60px;  

  
  
}

.video-container-text-user p {
  position: absolute;
  color: white;
  padding: 50px;
  z-index: 10;
  float: left;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Figtree', sans-serif;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid red;
  
}
