video {
  position: relative;
  z-index: inherit;
  
}

.video-container-text-user {
  z-index: 8;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid red;
  
}



.video-container-text-user div {
  position: absolute;
  color: white;
  z-index: 10;
  float: left;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Figtree', sans-serif;
  font-size: 60px;
  
}

.video-container-text-user p {
  position: absolute;
  color: white;
  z-index: 10;
  float: left;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Figtree', sans-serif;
  font-size: 30px;
  
}
