.screen {

  display: flex;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  gap: 10px;
  gap: 10px 20px;
  /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  align-content: center;
}